ansible
# Elasticluster PyPi issue:
# https://github.com/gc3-uzh-ch/elasticluster/issues/147
https://github.com/gc3-uzh-ch/elasticluster/archive/master.tar.gz
# IPython parallel framework is splitting its parts in different repos
https://github.com/roryk/ipython-cluster-helper/archive/master.tar.gz
https://github.com/ipython/ipyparallel/archive/master.tar.gz
ipython
boto == 2.38.0
toolz == 0.7.2
matplotlib == 1.4.3
numpy == 1.9.2
paramiko == 1.15.2
Requests == 2.7.0
setuptools == 18.0.1
six == 1.9.0
PyYAML == 3.11
