Cython>=0.19
Logbook>=0.6.0
PyYAML>=3.10
ansible
boto>=2.34.0
git+git://github.com/chapmanb/elasticluster.git@bcbio
google-api-python-client
httplib2>=0.9.1
ipython-cluster-helper>=0.4.3
ipython>=2.0.0
lxml>=3.3.5
matplotlib
msgpack-python>=0.4.0
numpy
pandas>=0.14.1
paramiko>=1.10
progressbar>=2.3.0
pythonpy>=0.3.6
requests>=2.4
seaborn>=0.5.0
simplejson>=2.5.0
six>=1.8.0,<2.0.0
toolz>=0.7.1
voluptuous